:root {
    --primary-color: #b5179e;
    --primary-color-hover: #79186a;
    --secondary-color: #4cc9f0;
    --main-color: #4361ee;
    --text-color: #444444;
    --text-color-invert: #f2f2f2;

    --gradient-color-start: var(--secondary-color);
    --gradient-color-end: var(--primary-color);

    --font-family: 'Poppins', sans-serif;
    --font-weight: 400;

    --background: #f2f2f2;
    --nav-background: #222;

    --card-bg: #FFFFFF;
    --card-font-color: --text-color;

    --border-color: #d0d0d0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    background: var(--light-background);
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    letter-spacing: -0.5px;
    line-height: 1.5;
    margin: 0 auto;
}
  
.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -2.5px;
    .main-title {
        margin: .5rem;
        line-height: 0.9em;
        letter-spacing: -4.5px;

    }
}

.text-center {
    text-align: center;
}

.name-title{
    color: var(--primary-color );
    font-weight: 700;
}

.btn {
    background: var(--primary-color);
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    height: 50px;
    text-transform: uppercase;
    transition: background 0.2s ease-in-out;
    width: 100%;
    &:hover {
        background: var(--primary-color-hover);
    }
}